include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			h1= t
			+breadcrumb('Главная',...items)


mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin download-link(t, s)
	+b.download-link(href="#" download)&attributes(attributes)
		+img('img/svg/docs.svg').img-svg-js
		+e.title!= t
		+e.subtitle!=s

mixin section-title(sub, title)
	+b.section-title--underline
		if sub
			+e.subtitle!= sub
		h2 
			span!= title
		block


mixin newsItem(i, p)
	+b.newsItem(href="#")
		+e.img-wrap
			+img(`img/${i}`, 'bg')
		+e.caption
			+e.date 29.04.2022
			+e.topic Новости Консорциума
		p!= p

mixin sGoalsItem(i, text, link)
	+b.sGoalsItem&attributes(attributes)
		+icon(`goals-${i}`)
		+e.content
			p!= text
			if link
				a(href="#") подробнее →


mixin listBlock(h4, h2, sub)
	+b.listBlock&attributes(attributes)
		+e.row.row
			.col-lg-5
				if h2 
					.h2!= h2
				else
					+e.title!= h4
					if sub
						+e.subtitle= sub
			.col-lg-7
				block
